### ADDTIONAL PRACTICE TASK IN PYTHON - DATA STRUCTURES AND BASICS

✅ Q1. Create a list of 5 fruits and print the second and last fruit.

In [20]:
# Creating a list with 5 fruits

fruit_list = ['mango','banana','apple','jackfruit','guava']

print(fruit_list)

# Printing the second fruit

print(fruit_list[1])

# Printing the last fruit

print(fruit_list[-1])

['mango', 'banana', 'apple', 'jackfruit', 'guava']
banana
guava

--------------------------------------------------------------------------------

✅ Q2. Add a new fruit to the list and sort it alphabetically.

In [21]:
# Add a new fruit to the list

fruit_list.append("grape")

print(fruit_list)

# Sort it alphabetically

fruit_list.sort()
print(fruit_list)

['mango', 'banana', 'apple', 'jackfruit', 'guava', 'grape']
['apple', 'banana', 'grape', 'guava', 'jackfruit', 'mango']

--------------------------------------------------------------------------------

✅ Q3. Create a tuple of 4 colors. Try to change the second color. What happens?

In [24]:
# Create a tuple list
colors_tuple = ('black','white','red','green')
colors_tuple

('black', 'white', 'red', 'green')

In [25]:
# Change the second color
colors_tuple[1]='maroon'    # It will through an error

TypeError: 'tuple' object does not support item assignment

Tuples are immutable (unchangeable).

--------------------------------------------------------------------------------

✅ Q4. Create a dictionary for a student with keys: name, age, and grade. Print the grade.

In [29]:
# Create a dictionary with student data

student_data = {
    'name': 'Maghi',
    'age': 5,
    'grade':'LKG'
}

print(student_data)

# Print the grade

student_data['grade']

{'name': 'Maghi', 'age': 5, 'grade': 'LKG'}

'LKG'

--------------------------------------------------------------------------------

✅ Q5. Add a new key school and assign a value. Then print all keys.

In [33]:
# Add a new key
student_data['school'] = 'Indian public school'

print(student_data)

# Print all the keys
student_data.keys()

{'name': 'Maghi', 'age': 5, 'grade': 'LKG', 'school': 'Indian public school'}

dict_keys(['name', 'age', 'grade', 'school'])

--------------------------------------------------------------------------------

✅ Q6. Create a set of your favorite hobbies. Add a new hobby to the set.

In [38]:
# Creating a set with favorite hobbies

hobby_set = {'sleeping','playing','browsing'}
print(hobby_set)

# Add a new hobby to the set
hobby_set.add("chatting")
hobby_set

{'sleeping', 'playing', 'browsing'}

{'browsing', 'chatting', 'playing', 'sleeping'}

--------------------------------------------------------------------------------

✅ Q7. Try adding a duplicate hobby and see what happens.

In [39]:
# Adding a duplicate hobby

hobby_set.add('playing')
hobby_set

{'browsing', 'chatting', 'playing', 'sleeping'}

- Set doesn't allow duplicates.

--------------------------------------------------------------------------------

✅ Q8. Write a function that takes a list of numbers and returns a set of unique numbers.

In [42]:
# Creating a function
def unique_number_list(num):
  return set(num)   # return a set which gives unique numbers

numbers = [1,2,3,1,5,10,7,9,5,4,6,8,2,3]

unique_no = unique_number_list(numbers)

print("Set of unique numbers:", unique_no)

Set of unique numbers: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

--------------------------------------------------------------------------------

✅Q9. Create a function that counts how many times each word appears in a given sentence.

In [51]:
def unique_word_count(sentence):

  words = set(sentence.split())   # Convert sentence into set of unique words

  for word in words:    # Iterate each unique word in words

    x = sentence.count(str(word))   # Count each word present in the sentence. Count function works with string not with list.

    print (word, ":", x)          # Printing the unique word and its count

sen = 'Government of the people, by the people, and for the people, shall not perish from the earth.'

unique_word_count(sen)

from : 1
and : 1
perish : 1
of : 1
for : 1
not : 1
by : 1
earth. : 1
the : 4
people, : 3
Government : 1
shall : 1

Here, "people," and " earth." considered as a single word which is different from words without punctuation. Used this sample sentence for practice with limited known functions.

--------------------------------------------------------------------------------

✅ Q10. Write a function that takes a list of numbers and returns a dictionary with keys: max, min, and average.

In [11]:
def numbers_dict(num):

  describe = ({
      'max': max(numbers),
      'min': min(numbers),
      "average": sum(numbers)/len(numbers)
  })

  return describe

numbers = [10, 20, 30, 40, 50, 60]

numbers_dict(numbers)

{'max': 60, 'min': 10, 'average': 35.0}

================================================================================