## PYTHON PRACTICE TASK 4 - LOOP STATEMENT

‚úÖ 1Ô∏è‚É£ Use a while loop to print numbers from 1 to 10.

In [66]:
number = 1    # Intialization

while number<=10:  # Run until number less than or equal to 10.
  print(number)
  number  = number + 1   # increment

1
2
3
4
5
6
7
8
9
10

‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ûñ‚ûñ

‚úÖ 2Ô∏è‚É£ Use a for loop and range() to print even numbers between 2 and 20.

In [22]:
for i in range(2,21):  # Loop over between 2 to 20.
  if i%2==0:   # Even no
    print(i)

2
4
6
8
10
12
14
16
18
20

‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ûñ‚ûñ

‚úÖ 3Ô∏è‚É£ Given a list of names, use a for loop to print only names longer than 4 letters.

In [23]:
names = ["Ramja","Iyer","Rag","Pra","Mahesh","Chotu"]

for i in names:  # Loop over the names list
  if len(i)>=4:  # Longer than 4 letters
      print(i)

Ramja
Iyer
Mahesh
Chotu

‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ûñ‚ûñ

‚úÖ 4Ô∏è‚É£ Create a multiplication table for numbers 1 to 5 using nested loops.

In [24]:
for i in range(1,6):   # Ranges from 1 to 5
  print("\n")          # Print in the next line
  for j in range(1,6): # Loop inside a loop with number Ranges from 1 to 5
    print(i*j, end="  ")  # End function with space between the numbers

1  2  3  4  5

2  4  6  8  10

3  6  9  12  15

4  8  12  16  20

5  10  15  20  25

‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ûñ‚ûñ

‚úÖ 5Ô∏è‚É£ Write a for loop that searches for a number in a list. If found, print it and break.

In [28]:
# Create a number list
list = [10,20,25,100,30,50,90]

# Target number
num = 100

for i in list:
  if i == num:  # Target number equal within the list
     break       # Out of the loop if the above condition is true
  print(i)

10
20
25

‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ûñ‚ûñ

‚úÖ 6Ô∏è‚É£ Use a loop with continue to skip printing number 5 from 1 to 10.

In [72]:
for i in range(1,11):  # Loop over between  1 to 10
  if i==5:
    continue           # Skip the number and continue execute the loop
  print(i)

1
2
3
4
6
7
8
9
10

‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ‚ûñ
‚ûñ‚ûñ

# **üè∑Ô∏è ‚úÖ Quick Quiz**

‚úÖ What is the difference between while and for loop?

    - 'While' loop execute until the condition is false.
    - 'For' loop executes for each item in a list/range/set and etc.,

*Example*

In [4]:
# While Loop

n = 0

while n<=3:
  print(n, end=" ")
  n= n+1

0 1 2 3

In [5]:
# For loop

for i in range(0,5):
  print(i, end= "-")

0-1-2-3-4-

*****************************************************************************************

‚úÖ What does break do in a loop?

- 'break' will immediatly break the execution and coming out of the loop.

*Example*

In [11]:
alphabets = ["a","b","c","d"]

for i in alphabets:  # iterate over each item in alphabets
  if i=='c':         # if i is c, coming out of the loop
    break            # break the loop, if the above condition is true
  print(i)

a
b

***************************************************************************************************

‚úÖ How do you repeat a block exactly 10 times?

* Using a 'for' loop with range(10) function will repeat a block exactly 10 times.

*Example*

In [12]:
for i in range(10):
  print("Iteration:",i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9

*********************************************************************************************

# ‚úÖ Can you use else with a while loop?

- Yes. We can use else with while loop. Else will execute if while block executed.

*Example*

In [21]:
i  = 1

while i<=10:
  print(i)
  i = i+1
else:
  print("nothing")

1
2
3
4
5
6
7
8
9
10
nothing

‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ‚öõ