# PRACTICE TASKS IN PYTHON

Here is the list of tasks to be done in python

✅ 1. Print your name and age.  
✅ 2. Calculate 10 + 5 * 2  
✅ 3. Write a comment about your calculation.

1. Print your name and age.

In [ ]:
# Print your name

print("BALACHANDRAN")

BALACHANDRAN

In [ ]:
# Print your Age

print("My age is:", 32)

My age is: 32

2. Calculate 10 + 5 * 2

In [ ]:
# Calculate the numbers

calculation = 10 + 5 * 2

print(calculation)

20

3. Write a comment about your calculation.

In [3]:

# Here we are doing arithmatic operation using python. First. We are multiplying 5 with 2.
# then, we are adding the result with 10. So, the total value is 20. This is one way of doing arithmatic operation.

# ✅ Quick Quiz

1️⃣ What symbol is used for comments in Python?  
2️⃣ How do you print text in Python?  
3️⃣ What is the output of `3 ** 2`?

1️⃣ What symbol is used for comments in Python?

Answer: The symbol is used for comments in python is "#" or within ' ' ' quotes.

2️⃣ How do you print text in Python?  

Answer : To print a text in python, we need to write the text within quotes( ' ' or " " ) using print statement.

Eg: print("sample text")

In [ ]:
print("sample text")

sample text

3️⃣ What is the output of 3 ** 2?

The output of the above is 3 to the power 2, which is 3 * 3, the result is 9.

In [ ]:
# Calculate 3 ** 2

result = 3**2
print(result)

9