

## PYTHON PRACTICE TASK ON LIST AND DICTIONARY COMPREHENSION

**` ✅ Practice Tasks: `**



☣ Create a list of cubes from 1–5.

In [5]:
# Create a list of cubes from 1-5

[i**3 for i in range(1,6)]

[1, 8, 27, 64, 125]

---------------------------------------------------------------------------------------------------------

☣ Convert a list of strings to uppercase.

In [35]:
# Convert a list of strings to uppercase.

str_lst = ['health','is','wealth']

[i.upper() for i in str_lst]     # upper() convert to upper case

['HEALTH', 'IS', 'WEALTH']

---------------------------------------------------------------------------------------------------------------------------

☣ Build a multiplication table for 1–5.

Normal method

In [19]:
# Build a multiplication table for 1–5.
ms_lst= []
for i in range(1,6):
  lst = []
  for j in range(1,6):
    lst.append(i*j)
  ms_lst.append(lst)

In [20]:
ms_lst

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

List comprehension

In [22]:
[[i*j for j in range(1,6)] for i in range(1,6)]

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

---------------------------------------------------------------------------------------------------------

☣ Get all vowels from a string.

- Getting vowels 'aeiou' in a string

Normal method

In [75]:
string = 'qualification'

for i in string:
  if i in 'aeiou':
    print(i)

u
a
i
i
a
i
o

*List Comprehension*

In [42]:
[i for i in string if i in 'aeiou']

['u', 'a', 'i', 'i', 'a', 'i', 'o']

--------------------------------------------------------------------------------------------------------------

☣ Get squares of numbers if the number is odd.

**Normal method**

In [36]:
for i in range(1,11):
  if i%2!=0:   # Getting odd number
    print(i*i)

1
9
25
49
81

*List comprehension*

In [45]:
[i*i for i in range(1,11) if i%2!=0 ]

[1, 9, 25, 49, 81]

--------------------------------------------------------------------------------------------------------

☣ Create a dictionary of numbers and their cubes.

In [48]:
{i:i**3 for i in range(1,6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

----------------------------------------------------------------------------------------------------------

 ☣ Make a frequency count of characters in a string.

Normal method

In [15]:
string = 'notebook'

freq_count = {}

for i in string:

  if i in freq_count:   # if charcter exist in freq_count add 1 to count.
    freq_count[i] += 1

  else:
    freq_count[i] = 1    # if not, it is 1.

print(freq_count)

{'n': 1, 'o': 3, 't': 1, 'e': 1, 'b': 1, 'k': 1}

Using dictionary comprehension

In [14]:
{i: string.count(i) for i in set(string) }    # set for unique characters

{'k': 1, 'e': 1, 't': 1, 'n': 1, 'o': 3, 'b': 1}

--------------------------------------------------------------------------------------------------------

☣ Write a list comprehension for squares of even numbers from 1–20.

In [18]:
# List comprehension

[i*i for i in range(1,21) if i%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

----------------------------------------------------------------------------------------------------------------------

☣ Extract all digits from a mixed string.

In [20]:
# Create mixed string with alpha numeric

mixed_string = '1abch2hy345hfk67xy8p9'

[i for i in mixed_string if i.isdigit()]   # Using 'isdigit' function to extract digits

['1', '2', '3', '4', '5', '6', '7', '8', '9']

--------------------------------------------------------------------------------------------------------------

☣ Flatten a 3x3 matrix using nested comprehension.

In [22]:
from ast import MatchOr
# create a 3 x 3 matrix

matrix = [[i*j for j in range(1,4)] for i in range(1,4)]

print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [23]:
# Flatten a matrix

flatten = [i for row in matrix for i in row]
print(flatten)

[1, 2, 3, 2, 4, 6, 3, 6, 9]

----------------------------------------------------------------------------------------------------------------

☣ Create a dictionary mapping numbers 1–5 to their factorials.

In [24]:
# Using math function to create factorials

import math

map = {i:math.factorial(i) for i in range(1,6)}
print(map)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

-----------------------------------------------------------------------------------------------------------------

☣ Use dict comprehension to swap keys and values: {'a': 1, 'b': 2} → {1: 'a', 2: 'b'}.

In [32]:
actual =  {'a': 1, 'b': 2}

{value:key  for key, value in actual.items()}        # using '.items' to get key and values from dictionary

{1: 'a', 2: 'b'}

--------------------------------------------------------------------------------------------------------

☣ How do you add a condition in a list comprehension?

**`Answer`**

- In a list comprehension, we can add a condition like 'if' statement in the list after the for loop.

Example

In [33]:
# Print odd number from 1 to 10
[i for i in range(1,10) if i%2!=0]

[1, 3, 5, 7, 9]

---------------------------------------------------------------------------------------------------------

☣  Can you use if...else in list comprehension?

**`Answer`**

- Yes. We can use if...else in list comprehension.

Example

In [34]:
["even" if i%2==0 else "odd" for i in range(1,6)]

['odd', 'even', 'odd', 'even', 'odd']

--------------------------------------------------------------   🙏---------------------------------------------------------