# PYTHON PRACTICE: 2

✈ **TASK:1**

✅ Create variables for your:

- name (string)
- age (integer)
- height (float)
- is_student (boolean)

In [1]:
# Creating variables

# name(string)

name = 'BALACHANDRAN'

# age(integer)

Age = 38

# height(float)

height = 5.7

# is_student(boolean)

is_student = True

print(name, type(name))
print(Age, type(Age))
print(height, type(height))
print(is_student, type(is_student))

BALACHANDRAN <class 'str'>
38 <class 'int'>
5.7 <class 'float'>
True <class 'bool'>

✈ **TASK:2**

✅ Perform:
  - Addition of age + 5
  - Check if age > 18
  - Use `and` to check: is age > 18 AND is_student

In [12]:
# Addtion of age + 5

NewAge = Age + 5
print(NewAge)

# Check if age > 18

print(Age > 18)

# Use 'and' to check:is age > 18 AND is_student

print(Age > 18 and is_student)

43
True
True

✈ **TASK:3**

✅ Convert height to string and print type.

In [104]:
height

5.7

It is a float type. Then convert to string

In [16]:
# Convert height to string

str(height)

'5.7'

In [17]:
print(type(str(height))) # In single line first convert float to string, then checking the data type and print the output.

<class 'str'>

✈ **TASK:4**

✅ Create a list of 5 cities. Add 2 more, remove 1. Print the final list.

In [58]:
# Creating a list of 5 cities

cities = ['Ramnad', 'Chennai', 'Pondy', 'Madurai', 'Coimbatore']

print(cities, type(cities))

['Ramnad', 'Chennai', 'Pondy', 'Madurai', 'Coimbatore'] <class 'list'>

In [59]:
# Add 2 more

cities.append('Trichy')
cities.append('Salem')

Note:

We can't add two entries once with append functon. We can use 'extend' or '+' operator two add two or more entries in a single line of code.

In [60]:
cities

['Ramnad', 'Chennai', 'Pondy', 'Madurai', 'Coimbatore', 'Trichy', 'Salem']

In [61]:
# Remove 1 city

cities.remove('Chennai')
final_list = cities
final_list

['Ramnad', 'Pondy', 'Madurai', 'Coimbatore', 'Trichy', 'Salem']

✈ **TASK:5**

✅ Create a tuple of 3 numbers. Access the second number.

In [64]:
# create a tuple of 3 numbers
tuple = (3,6,9)
tuple

(3, 6, 9)

In [66]:
# Access the second number
tuple[1]

6

✈ **TASK:6**

✅ Make a set of your hobbies. Add a hobby. Try adding a duplicate.

In [67]:
# Set of your hobbies

hobbies = {'Reading','Cooking','Workout','Coding','Playing'}
hobbies

{'Coding', 'Cooking', 'Playing', 'Reading', 'Workout'}

In [70]:
# Add a hobby
hobbies.add('Driving')
hobbies

{'Coding', 'Cooking', 'Driving', 'Playing', 'Reading', 'Workout'}

In [72]:
# Adding a duplicate

hobbies.add('Playing')
hobbies

{'Coding', 'Cooking', 'Driving', 'Playing', 'Reading', 'Workout'}

Set won't allows duplicate

✈ **TASK:7**

✅ Make a dictionary for a book: title, author, price. Change the price.

In [81]:
# Making a dictionary

book = {
    'Title': 'Winning with AI',
    'Author': 'David Reed',
    'Price': 449
}

In [82]:
print(book, type(book))

{'Title': 'Winning with AI', 'Author': 'David Reed', 'Price': 449} <class 'dict'>

In [83]:
# Change the price

book['Price'] = 300

In [84]:
book

{'Title': 'Winning with AI', 'Author': 'David Reed', 'Price': 300}

# **🏷️ ✅ Quick Quiz**

✅ What is the difference between an integer and a float?



---
- **Integer is a whole number either positive or negative numbers. Float is a decimal numbers with positive or negative values.**

In [87]:
int = 3   # Integer
float_num = 3.55   # Float

✅ How do you check a variable’s type?



---

- **To check the type of variable using a function 'type(variable_name)'**

In [88]:
type(float_num)

float

✅ What does `==` mean?

---
- **It's a comparison operator used to compare two values and it always gives boolean result.**

In [105]:
5 == 3

False

✅ What does `and` do?

---
- **`and` is a logical operator used to compare two condition. It always gives a boolean result(True or False).**

In [91]:
True and False

False

✅ Which data structure is immutable?

---

- **The data structure 'tuple' is a immutable.**

In [ ]:
tuple_eg = (10, 20, 30)

tuple_eg[1]= 40   # It will give error because it is immutable.

✅ Which one does not allow duplicates?


---

- **The data type 'set' doesn't allow duplicates**

In [97]:
set_eg = {'Navina','kavin','harshi','janav'}
print(set_eg)

# Add a duplicate
set_eg.add('kavin')
print(set_eg)

{'Navina', 'kavin', 'harshi', 'janav'}
{'Navina', 'kavin', 'harshi', 'janav'}

✅ How do you add a key-value pair to a dictionary?


---

- **We can add a key-value pair to a dictionary using add function with key and values.**

In [100]:
dict_eg = {
    'shirt': 'Basics',
    'Jean': 'Mufti'
}

print(dict_eg)

# Adding a key-value pair

dict_eg['shoe']='LP'   # Here, key--> shoe and value-->LP

print(dict_eg)

{'shirt': 'Basics', 'Jean': 'Mufti'}
{'shirt': 'Basics', 'Jean': 'Mufti', 'shoe': 'LP'}

✅ How do you remove an item from a set?


---

- **We can remove an item in a set using remove function.**

In [102]:
# Creating a set
new_set_eg = {10, 20, 5.0, 'Navina', 'Kavin'}
print(new_set_eg)

# Remove an item from a set
new_set_eg.remove(20)
print(new_set_eg)

{'Navina', 20, 5.0, 'Kavin', 10}
{'Navina', 5.0, 'Kavin', 10}